.signup{
	color:rgb(7, 7, 7);	
	background:rgb(97, 110, 230);
	height: 50px;
	padding-bottom: 30px;
	padding-top: 10px;
	border-radius: 10px;
	margin: 10px;
}
input[type="text"]
{
	padding:10px;
	background:#f0f0f3;
	width:50%;
	border-radius: 20px;
}
input[type="password"]
{
	padding:10px;
	background:#f0f0f3;
	width:50%;
	border-radius: 20px;
}
.input{
	margin: 50px;
}
button{
background:#fbff00;
font-size: 125%;
padding: 20px;
border-radius:50px;
width:15%;
transition-duration: 0.4s;
}
button:hover {
	background:#fcf56a;
	font-size:150%;
	color: black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.dropbtn{
    padding:10px;
	width:50%;
	border:solid;
	border-width: 0.5mm;
	border-radius: 20px;
	background:#e3e3e3;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	 display: none;
  position: absolute;
  background-color:#130dc9 ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content option:hover 
{
background:#0330f7;
}
.dropdown:hover .dropdown-content{
  display: inline-block;
  }
 .dropdown:hover .dropbtn {
  background-color:#fcf56a ;
}
body{
	border: solid;
	border-width: 5px;
	border-color: rgb(235, 7, 7);
	font-family: 'Montserrat',sans-serif;
}
.button{
    position: absolute;
	top: 32%;
    right: 0%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 30px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(252, 252, 252);
}